.cards-flex {
    display: flex ;
    direction: row;
    flex-wrap: wrap;
    width: calc(100% - 120px);
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 20px 0px 20px 50px;

    article {
        aspect-ratio: 1 / 2;
        width: 100%;
        transition: transform .3s;
        max-width: 250px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: $shadow-gradient;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0px 0px 10px 0px;

        &:hover {
            transform: translateY(5px);
        }

        .img {
            aspect-ratio: 1 / 1;
            width: 100%;
            background-image: var(--src);
            background-position: center;
            background-size: cover;
        }

        h2 {
            font-size: 18px;
            text-transform: uppercase;
            max-width: calc(100% - 20px);
        }

        p {
            max-width: calc(100% - 20px);
        }
    }
}

.button {
    all: unset;
    background: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(110%);
    }
}
