  @media only screen and (min-width: 992px) and (max-width:1200px) {

    .files-books {
      grid-template-columns: repeat(3, 2fr);
    }

    .files-books {
      padding: 60px;
      padding-left: 100px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width:991px) {

    .files-books {
      grid-template-columns: repeat(2, 2fr);
    }

    .files-books {
      padding: 60px 0 0px 140px;

    }
  }

  @media only screen and (min-width:400px) and (max-width: 767px) {

    .files-books {
      grid-template-columns: repeat(1, 1fr);
    }

    .files-books {
      padding-left: 80px;
    }

  }


  @media only screen and (min-width:768px) and (max-width: 1200px) {

    .cursos-grid {
        grid-template-columns: repeat(2,2fr);
    }
    .cursos-grid {
        padding-left: 150px;
        
    }
  } 
  
@media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .cursos-grid {
        grid-template-columns: repeat(2,1fr);
    }
    .cursos-grid {
        padding: 50px;
        padding-left: 50px;
    } 
  }

@media only screen and (min-width: 400px) and (max-width: 575px) {

    .cursos-grid {
        grid-template-columns: repeat(1,1fr);
    }
    .cursos-grid {
        padding-left: 80px;
    }   
  }

  @media only screen and (max-width: 768px) {
    footer {
      grid-template-columns: repeat(2, 1fr);
    }

  }