@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,200&family=Roboto+Serif:ital,wght@0,100;1,100&display=swap");
@import "_generales";
@import "_courses";
@import "_files";
@import "_footer";
@import "_media-queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.tituloUno {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #282c34;
  margin-top: 20px;
  background-color: none;
  text-decoration: none;
  list-style-type: none;
}
.p_inicio{
  text-align: center;
}

.container-video{
  box-shadow: $shadow-gradient;
  border: none;
  padding-bottom: 100px;
  
}

.carousel-inner {
  margin: 0;
}

.no-padding {
  padding: 0;
}

  .slide img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    background: no-repeat center center scroll;
  }

  .carousel-container {

    .carousel-item {
      margin: 0;

    }

    .slide {
      background-color: rgba(0, 0, 0, 0.07);
      align-items: center;
      padding: 0;
      font-family: 'Nunito', sans-serif;

      img {
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
        margin: auto;
        background: no-repeat center center scroll;
      }

    }
  }

  .no-padding {
    padding: 0;
  }

  .carousel-caption {
    padding: 0px;
  }

  .carousel-item p {
    font-size: 18px;
    color: whitesmoke;
  }

  .carousel-item h2 {
    color: whitesmoke;
    font-size: 25px;
  }

  .slide {
    background-color: rgba(0, 0, 0, 0.07);
    align-items: center;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  }

  .carousel-caption {
    padding: 0px;
  }

  .carousel-item p {
    font-size: 18px;
    color: whitesmoke;
  }

  .carousel-item h2 {
    color: whitesmoke;
    font-size: 25px;
  }

  form {
    padding: 50px 50px 50px 50px;
    margin: 50px 50px;
    background-color: white;
    justify-content: center;
    border-radius: 15px;
  }

  .form.action {
    background-color: black;
  }

