
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,200&family=Roboto+Serif:ital,wght@0,100;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navbar*/
header{
    height: 100px;
    position: absolute;
}
.navbar{
    background: rgb(30,52,179);
    background: linear-gradient(90deg, rgba(30,52,179,1) 37%, rgba(221,69,69,1) 100%);
    padding: 0px 40px;
}
.logo-start{
    width: 100px;
}
.navbar-brand a{
    color: whitesmoke;
    list-style-type: none;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
}

.offcanvas{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}
/*courses*/

.cursos-grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    align-items: center;
    box-shadow:  2px #282c34;
}
.cursos-grid article{
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0,3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}
.cursos-grid article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0,3);
}
.cursos-grid article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text{
    padding: 0px 20px 20px;
}
.text h3{
    text-transform: uppercase;
    font-size: 18px;
}
.text button{
    background: blueviolet;
    border-radius: 20px;
    border: none;
    color:whitesmoke;
    padding: 10px;
    width: 110px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.tituloButton{
    font-size: 14px;
}

/*Files*/

.body-files{
    background-color: #282c34;
    font-family:'Nunito', sans-serif;
    font-size: 3rem;

}
.grid-conatiner-files{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    border:solid 1px rgb(226, 226, 226)
    
}
.grid-conatiner-files:hover{
    filter: opacity(0.9);
    transform: scale(1,04);
}

@media (max-width: 768px){

    .cursos-grid{
        grid-template-columns: repeat(2,1fr);
    }

}  

/*MOBILE VERSION*/

@media (min-width:500px){

    .cursos-grid{
        grid-template-columns: reapeat(1,1fr);
    }

}

.cursos-grid article{
    text-align: center;

}

/*Files*/

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
.grid-conatiner img{
    grid-template-columns: repeat(2,2fr);
}
.grid-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}
/*VERSION MOBILE*/

@media (min-width: 600px) {
.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}
}

/*footer*/

footer {
    width: 100%;
    background: rgb(30,52,179);
    background: linear-gradient(90deg, rgba(30,52,179,1) 37%, rgba(221,69,69,1) 100%);
    color: whitesmoke;
    text-align:center;
    position: sticky;
    padding: 40px;
}
.container-footer .rrssIconos{
    padding: 10px 20px;

}
.rrss {
    font-size: 18px;
    font-weight: 200;
    color: whitesmoke;
    font-family:'Nunito', sans-serif;
}

.footer1 {
    font-size: 16px;
    font-weight: 100;
    color: whitesmoke;
    box-shadow: #282c34;
}

.footer2 {
    color: whitesmoke;
}

.rrssIconos{
    
    transition: .3s;
}

.rrssIconos:hover{
    transform: translateY(5px);
    box-shadow: #282c34;
    border-radius: 50%;
    }






















