
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,200&family=Roboto+Serif:ital,wght@0,100;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
/*Navbar*/
.navbar{
    padding: 0;
    margin: 0;
}
.container-fluid{
    background: rgb(30,52,179);
    background: linear-gradient(90deg, rgba(30,52,179,1) 37%, rgba(221,69,69,1) 100%);
    
}  
.navbar-brand{
    color: whitesmoke;
    font-size: 35px;
    padding-left: 80px;
    padding-right: 100px;
    font-weight: bold;
}
/*
.nav ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
*/
.navbar ul li a {
    color: whitesmoke;
    font-size: 17px;
    text-transform: uppercase;
}

.nav-link a.active,a:hover{
    background: blueviolet;
    transition: .5s;
}


/*courses*/

.cursos-grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    align-items: center;
    box-shadow:  2px #282c34;
}
.cursos-grid article{
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
    }
.cursos-grid article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0,3);
    
}
.cursos-grid article img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.text{
    padding: 0px 20px 20px;
}
.text h3{
    text-transform: uppercase;
    font-size: 18px;
}
.text button{
    background: blueviolet;
    border-radius: 20px;
    border: none;
    color:whitesmoke;
    padding: 10px;
    width: 110px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.text button {
    font-size: 14px;
}

@media (max-width: 768px){

    .cursos-grid{
        grid-template-columns: repeat(2,2fr);
    }

}  

/*MOBILE VERSION*/

@media (min-width:500px){

    .cursos-grid{
        grid-template-columns: reapeat(1,1fr);
    }
}

.cursos-grid article{
    text-align: center;
}

/*Files*/

/*VERSION MOBILE*/

@media (min-width: 600px) {
.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}
}


/*Files*/

.files-books{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    align-items: center;
    box-shadow:  2px #282c34;

}

.files-books article{
    background-color:whitesmoke;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.files-books article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0,3);
}
.files-books article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contenido{
    padding: 0px 20px 20px;
}
.contenido h3{
    text-transform: uppercase;
    font-size: 18px;
}
.contenido button{
    background: blueviolet;
    border-radius: 20px;
    border: none;
    color:whitesmoke;
    padding: 10px;
    width: 110px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.titulo-files{
    font-size: 14px;
}

@media (max-width: 768px){

    .files-books{
        grid-template-columns: repeat(2,2fr);
    }

}  

/*MOBILE VERSION*/

@media (min-width:500px){

    .files-books{
        grid-template-columns: reapeat(1,1fr);
    }
}

.files-books article{
    text-align: center;
}

/*Files*/

/*VERSION MOBILE*/

@media (min-width: 600px) {
.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}
}

/*Nosotros*/
.container-form{
    margin-bottom: 100px;
    background: rgb(30,52,179);
    background: linear-gradient(90deg, rgba(30,52,179,1) 37%, rgba(221,69,69,1) 100%);
    justify-content: center;

}
/*footer*/
.py-5{
    width: 100%;
    background: rgb(30,52,179);
    background: linear-gradient(90deg, rgba(30,52,179,1) 37%, rgba(221,69,69,1) 100%);
    color: whitesmoke;
    text-align:center;
    position: static;
    background-size: cover;
    padding: 10px;
}
.row{
    height: 100px;
    padding: 0px;
    margin: 0px;
}
.redes-sociales{
    justify-items: center;
}
.list{
    display: flex;
    justify-content:center;
    
}
.copyrithg{
    justify-content: center;
}

@media (min-width: 500px){
    footer{
        grid-template-columns: repeat(2,1fr);
    }
}




















