@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,200&family=Roboto+Serif:ital,wght@0,100;1,100&display=swap");
.navbar {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(270deg, #b665ff 0, #7b55ff 25%, #2e43ff 50%, #0032d6 75%, #0023b0 100%);
}

.navbar .container-fluid > a:hover {
  all: unset;
}

.navbar .container-fluid > a:hover .navbar-toggler-icon {
  color: whitesmoke;
}

.navbar .container-fluid > a:hover .navbar-toggler-icon .navbar-brand, .navbar .container-fluid > a:hover .navbar-toggler-icon .container-fluid > a:hover {
  color: whitesmoke;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
}

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .show > .nav-link {
  color: #e9ecef;
}

.navbar .navbar-nav .nav-link.active a.active, .navbar .navbar-nav .nav-link.active a:hover, .navbar .navbar-nav .show > .nav-link a.active, .navbar .navbar-nav .show > .nav-link a:hover {
  background: blueviolet;
  transition: .5s;
  border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.tituloUno {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #282c34;
  margin-top: 20px;
  background-color: none;
  text-decoration: none;
  list-style-type: none;
}

.container-fluid {
  padding: 0;
}

.carousel.slide {
  padding: 0;
}

.carousel-inner {
  margin: -20px 0;
}

.slide {
  padding: 0;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
  background: no-repeat center center scroll;
}

.files-books {
  padding-left: 30px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  justify-content: space-evenly;
  box-shadow: 2px;
  color: #282c34;
}

.files-books article {
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  text-align: center;
  width: 250px;
  text-align: center;
  transition: transform .3s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.files-books article article:hover {
  transform: translateY(5px);
}

.files-books article article:hover img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.files-books .contenido {
  padding: 0px 20px 20px;
}

.files-books .contenido h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.files-books .contenido h2 button {
  background: blueviolet;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  padding: 10px;
  width: 110px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.files-books .contenido h2 button .titulo-files {
  font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .files-books {
    grid-template-columns: repeat(2, 2fr);
  }
  .files-books {
    padding: 60px;
    padding-left: 120px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .files-books {
    grid-template-columns: repeat(1, 1fr);
  }
  .files-books {
    padding-left: 100px;
  }
  .tituloUno {
    margin-left: 0px;
  }
}

.main-courses {
  margin: 20px;
}

.cursos-grid {
  margin: 50px 0;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  align-items: center;
  box-shadow: 2px #282c34;
}

.cursos-grid article {
  background-color: whitesmoke;
  border: none;
  border-radius: 15px;
  text-align: center;
  width: 250px;
  transition: transform .3s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.cursos-grid article:hover {
  transform: translateY(5px);
}

.cursos-grid article img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text {
  padding: 0px 20px 20px;
}

.text h3 {
  text-transform: uppercase;
  font-size: 18px;
}

.text button {
  background: blueviolet;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  padding: 10px;
  width: 110px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.text button {
  font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .cursos-grid {
    grid-template-columns: repeat(2, 2fr);
  }
  .cursos-grid {
    padding-left: 150px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .cursos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cursos-grid {
    padding: 50px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
  .cursos-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .cursos-grid {
    padding-left: 80px;
  }
}

.slide {
  background-color: rgba(0, 0, 0, 0.07);
  align-items: center;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.slide img {
  height: 10vh;
  min-height: 400px;
  background: no-repeat center center scroll;
}

.carousel-caption {
  padding: 0px;
}

.carousel-item p {
  font-size: 18px;
  color: whitesmoke;
}

.carousel-item h2 {
  color: whitesmoke;
  font-size: 25px;
}

form {
  padding: 50px 50px 50px 50px;
  margin: 50px 50px;
  background-color: white;
  justify-content: center;
  border-radius: 15px;
}

.form.action {
  background-color: black;
}

.py-5 {
  width: 100%;
  background-image: linear-gradient(270deg, #b665ff 0, #7b55ff 25%, #2e43ff 50%, #0032d6 75%, #0023b0 100%);
  color: whitesmoke;
  text-align: center;
  position: static;
  padding: 10px;
}

.row {
  height: 100px;
  padding: 0px;
  margin: 0px;
}

.redes-sociales {
  justify-items: center;
}

.list {
  display: flex;
  justify-content: center;
}

.list img:hover {
  transform: translateY(5px);
  background-color: blueviolet;
  border-radius: 50%;
  cursor: pointer;
}

.list img {
  transition: .5s;
}

.copyrithg {
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */